.hero{
    position: relative;
    text-align: center;
    //margin-bottom: 130px;


    &__intro{
        @include breakpoint-up(large){
            padding-right: 300px;
            padding-left: 300px;
        }
    }


    &__main{

        @include breakpoint-up(large){
            display: flex;
            
        }

    }


    &__image{
        margin-left: 16px;
    }
    
    &__list{
        
        
        @include breakpoint-up(large){
            width: 376px;
            text-align: left;
            padding-top: 8rem;
            margin-left: 8rem;
        }
    }


    img{
        height: 310px;
        width: 100%;
        padding-bottom: 3rem;

        @include breakpoint-up(medium){
            height: 500px;
            width: 100%;
            padding-top: 3rem;
        }

        @include breakpoint-up(large){
            height: 600px;
            width: 100%;
            padding-top: 3rem;
        }
    }

}

